@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

@keyframes spin-slow {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes hover-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

@keyframes focus-spin {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-spin-slow {
  animation: spin-slow 10s linear infinite;
}

.animate-hover-spin {
  animation: hover-spin 5s linear infinite;
}

.animate-focus-spin {
  animation: focus-spin 3s ease-in-out infinite;
}

.left-1\/2 {
  left: 50%;
}

.bg-cosmic-gradient {
  background: radial-gradient(
    circle,
    rgba(0, 105, 148, 0.8),
    /* Deep Ocean Blue */ rgba(0, 143, 156, 0.7),
    /* Aquatic Teal */ rgba(0, 168, 204, 0.9),
    /* Shiny Aqua */ rgba(72, 202, 228, 0.7) /* Light Blue */
  );
}

.bg-cosmic-inner-gradient {
  background: radial-gradient(
    circle,
    rgba(0, 77, 92, 0.6),
    /* Dark Teal */ rgba(0, 128, 128, 0.5),
    /* Teal */ rgba(0, 178, 178, 0.4),
    /* Light Teal */ rgba(0, 255, 204, 0.3) /* Shiny Cyan */
  );
}
